/* Mengatur tampilan form pencarian */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Mengatur tinggi agar berada di tengah */
    background-color: #f8f9fa; /* Warna latar belakang (opsional) */
}

.search-input {
    padding: 10px;
    border-radius: 25px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.btn-search {
    width: 100px; /* Tentukan lebar tombol */
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
}

footer {
    background-color: #0d6efd;
    color: #fff;
}
